<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">

    <div class="row login_page">
        <div class="col box_logo d-flex justify-content-center align-items-center">
            <div class="d-flex flex-column">
                
                <img id='img_logo' src='../../assets/images/logo.PNG'>
                
                <div class="text_logo ">
                    <div class="col ">
                        <div class="row justify-content-center">Restaurante</div>
                        <div class="row justify-content-center">Mata Burro</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5 d-flex justify-content-center ">
            <div class="d-flex flex-column">
                <div class="text_login">
                    <div class="row justify-content-center">
                        Mata-Burro
                    </div>
                    <div class="row justify-content-center">
                        Um restaurante de comida típicamente brasileira.
                    </div>
                    <div class="row justify-content-center">
                        Onde você vai experimentar os melhores pratos nordestinos.
                    </div>
                    <div class="row justify-content-center">
                        Bom Apetite!
                    </div>
                </div>
                <div class="box_btn_login">
                    <div class="d-flex justify-content-center">
                        <form>
                            <div class="form-group">
                                <input type="input_email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Usuário">
                            </div>
                            <div class="form-group input_email">
                                <input type="input_password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
                            </div>
                            <div class="">
                               <a id="text_relembrar" href="/lembrar-senha">Esqueceu sua senha? Clique aqui</a>
                            </div>
                            <button id="btn_logar" [routerLink]="['/login-input']" type="submit" class="btn btn-primary">Entrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
</body>
</html>