
   
    <!-- <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="modal-change-status">
            <modal-change-status></modal-change-status>
        </span>
        <span class="menu-user-name">Seja bem-vindo(a), NOME</span>
        
        <button mat-icon-button class="logout-icon" aria-label="Example icon-button with share icon">
            <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar> -->
    
    <!-- <mat-drawer-container class="example-container">
        <mat-drawer #drawer class="example-sidenav" mode="side">
            <p>asdfasdfs</p>
            
        </mat-drawer>
        <mat-drawer opened class="example-sidenav-icon" mode="side">
        </mat-drawer>
      
      </mat-drawer-container> -->
    
    <mat-sidenav-container>
        <mat-sidenav #sidenav >
            <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
            <main>

            </main>
        </mat-sidenav-content>
        
    </mat-sidenav-container>