
<div class="container-fluid">
    <div class="row justify-content-center" style="text-align: center;">
    <div class="col-12 div-img">
        <figure class="figure-img">
            <img class="img-fluid" alt="logo restaurante" src='/assets/images/logo.PNG'>
        </figure>
        <p id="name">Restaurante Mata Burro</p>
        <p id="title-page">Mudança de Senha</p>
    </div>
    </div>
    <div class="row justify-content-center text-center">
    <div class="col-lg-4 col-md-6 col-sm-8 col-xs-10 h-100">
        <form [formGroup]="sendEmailForm" (ngSubmit)="sendEmail()">
            <div class="formulario">
                <mat-form-field class="input-form" appearance="fill">
                    <mat-label>Digite um Email válido</mat-label>
                        <input class="form-control" matInput formControlName="email" type="email">
                    <mat-error *ngIf="sendEmailForm.controls['email'].hasError('required')">
                        campo <strong>obrigatória.</strong>
                    </mat-error>
                </mat-form-field>
            </div>
                <button [disabled]="sendEmailForm.invalid" type="submit" class="btn btn-primary btn-block button-form">Enviar</button>
        </form>
    </div>
    </div>
</div>
