<div class="container-fluid">
    <div class="row title">
        <h4> Alteração de Senha </h4>
    </div>
    <hr>
        <form [formGroup]="changePasswordForm" (ngSubmit)="save()">
            <div class="row justify-content-center">
                <div *ngIf="message" class="col-4 alert alert-warning">
                    {{ messageAlert }}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-2">
                    <div class="form-group">
                        <input formControlName="username" type="text" class="form-control" id="username" placeholder="Usuário">
                        <div
                            *ngIf="changePasswordForm.controls['username'].invalid && (changePasswordForm.controls['username'].dirty || changePasswordForm.controls['username'].touched)">
                            <small *ngIf="changePasswordForm.controls['username'].errors?.required"
                                class="text-danger d-block mt-2">
                                Username é obrigatório!
                            </small>
                        </div>

                    </div>
                    <div class="form-group">
                        <input formControlName="current_password" type="password" class="form-control" id="current_password"
                            placeholder="Senha Atual">
                        <div
                            *ngIf="changePasswordForm.controls['current_password'].invalid && (changePasswordForm.controls['current_password'].dirty || changePasswordForm.controls['current_password'].touched)">
                            <small *ngIf="changePasswordForm.controls['current_password'].errors?.required"
                                class="text-danger d-block mt-2">
                                Password é obrigatório!
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <input formControlName="new_password" type="password" class="form-control" id="new_password"
                            placeholder="Senha Nova">
                        <div
                            *ngIf="changePasswordForm.controls['new_password'].invalid && (changePasswordForm.controls['new_password'].dirty || changePasswordForm.controls['new_password'].touched)">
                            <small *ngIf="changePasswordForm.controls['new_password'].errors?.required"
                                class="text-danger d-block mt-2">
                                Password é obrigatório!
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <button [disabled]="changePasswordForm.invalid" type="submit" class="btn btn-primary btn-block">Confirmar</button>
                    </div>
                </div>
            </div>
        </form>

</div>