<div class="container-fluid">
    <div class="row title">
        <h4> Alteração de Senha </h4>
    </div>
    <hr>
        <form [formGroup]="changePasswordForm" (ngSubmit)="save()">
            <div class="row justify-content-center">
                <div *ngIf="message" class="col-xl-3 col-md-4 col-sm-8 text-center my-2 alert alert-danger">
                    {{ messageAlert }}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-3 col-md-4 col-sm-8">
                    <div class="form">
                        <mat-form-field class="input-form" appearance="fill">
                            <mat-label>Senha Atual</mat-label>
                                <input class="form-control" matInput formControlName="current_password" type="password">
                            <mat-error *ngIf="changePasswordForm.controls['current_password'].hasError('required')">
                                Senha é <strong>obrigatória.</strong>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="input-form" appearance="fill">
                            <mat-label>Nova Senha</mat-label>
                                <input class="form-control" matInput formControlName="new_password" type="password">
                            <mat-error *ngIf="changePasswordForm.controls['new_password'].hasError('required')">
                                Senha é <strong>obrigatória.</strong>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="input-form" appearance="fill">
                            <mat-label>Confirme Nova Senha</mat-label>
                                <input class="form-control" matInput formControlName="new_password_confirm" type="password">
                            <mat-error *ngIf="changePasswordForm.controls['new_password_confirm'].hasError('required')">
                                Senha é <strong>obrigatória.</strong>
                            </mat-error>
                        </mat-form-field>
                        <button [disabled]="changePasswordForm.invalid" type="submit" class="btn btn-primary btn-block button-form">Confirmar</button>
                    </div>
                </div>
            </div>
        </form>

</div>