<mat-toolbar color="primary">
    <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
    </button>
    <button class="btn btn-secundary">
        Entrega Ativa
    </button>
    <span class="modal-change-status">
        <modal-change-status></modal-change-status>
    </span>
    <span class="menu-user-name">Seja bem-vindo(a), NOME</span>
    
    <button mat-icon-button class="logout-icon" aria-label="Example icon-button with share icon">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>