
<div class="container-fluid">
    <div class="row justify-content-center" style="text-align: center;">
    <div class="col-12 div-img">
        <figure class="figure-img">
        <img class="img-fluid" alt="logo restaurante" src='/assets/images/logo.PNG'>
        </figure>
        <h3>Restaurante Mata Burro</h3>
    </div>
    </div>
    <div class="row justify-content-center text-center">
    <div class="col-lg-4 col-md-6 col-sm-8 col-xs-10 h-100">
        <form [formGroup]="changePasswordForm" (ngSubmit)="save()">
            <div class="formulario">
                <mat-form-field class="input-form" appearance="fill">
                    <mat-label>Nova Senha</mat-label>
                        <input class="form-control" matInput formControlName="new_password" type="password">
                    <mat-error *ngIf="changePasswordForm.controls['new_password'].hasError('required')">
                        Senha é <strong>obrigatória.</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="input-form" appearance="fill">
                    <mat-label>Confirme Nova Senha</mat-label>
                        <input class="form-control" matInput formControlName="new_password_confirm" type="password">
                    <mat-error *ngIf="changePasswordForm.controls['new_password_confirm'].hasError('required')">
                        Senha é <strong>obrigatória.</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <button [disabled]="changePasswordForm.invalid" type="submit" class="btn btn-primary btn-block button-form">Confirmar</button>
        </form>
    </div>
    </div>
</div>