<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <a class="navbar-brand" [routerLink]="'.'"><img src='../../assets/images/logo.PNG'></a>
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        &#9776;
    </button>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
        <ul class="navbar-nav ">
        <li class="nav-item active">
            <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">Painel Principal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">Meu Perfil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">Histórico de Entregas</a>
        </li>
        </ul>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
            <modal-change-status></modal-change-status>
        </div>
        <div class="col">
            <button id="" type="button" class="btn btn-primary">Sair</button>
        </div>
    </div>
</nav>
