<mat-toolbar class="header">
    <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
    </button>
    
    <button class="btn btn-outline-primary btn-sm btn-delivery-activate">
        Entrega Ativa
    </button>
    <span class="modal-change-status">
        <modal-change-status></modal-change-status>
    </span>
    <span class="menu-user-name">Seja bem-vindo(a), {{ userNameLogged }}</span>
    
    <button mat-icon-button class="logout-icon " (click)="logOut()">
        <mat-icon>logout</mat-icon>
    </button>

    
</mat-toolbar>