<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="error-template row justify-content-center">
                <h1 class="text-center"> Oops!</h1>
                <h2 class="text-center">404 Not Found</h2>
                <div class="error-details row justify-content-center">
                    Sorry, an error has occured, Requested page not found!
                </div>
                <div class="error-actions row justify-content-center">
                    <div class="col-2">
                        <a (click)="sendToHome()" class="btn btn-primary btn-lg" style="background-color: #FFBA5C; border: #FFBA5C;"><span class="glyphicon glyphicon-home"></span>
                            Take Me Home </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>